 body {
    margin: 0;
    background-color: #FFF8E5;
    text-align: center;
    font-family: verdana, sans-serif;
}    

hr {
    border-color: #00A19D;
    border-style: dotted none none none;
    border-width: 10px;
    width: 10%
}

h1 {
    font-size: 562%;
    color: #E05D5D ;
}

p {
    margin: 0;
    color: #FFB344;
}

h3 {
    color: #FFB344;
}

img {
    border-radius: 100%;
}

.top-container{
    padding-top: 100px;
    padding-bottom: 50px;
}

.text_un{
    text-decoration: underline;
    color: #00A19D;
    padding-top: 20px;
}

.text_un:hover {
    color: gold;
}

.animals {
    padding-top: 50px;
}


.animals-row {
    
    width: 75%;
    margin: 150px auto 150px auto;
    text-align: left;
    line-height: 2;  
}
.animals-img {
    float: left;
    width: 10%;
    margin-right: 30px;
}

.animals-img:hover {
        width: 15%;
}

.animals-row-1 {
    
    width: 75%;
    margin: 150px auto 150px auto;
    text-align: right;
    line-height: 2;  
}
.animals-img-1{
    float: right;
    width: 10%;
    margin-right: 30px;
}

.animals-img-1:hover {
    width: 15%;
}